// colors
$fridae-red: #E5383B;
$fridae-d-red: #A4161A;
$fridae-off-white: #DDCFB4;
$fridae-white: #FDFCFE;
$fridae-l-grey: #CFCFCF;
$white: #F5F5F5;
$black: #0B090A;
$background-color: #FDFCFE;
$text-color: #2c3e50;

// units
$spacer: 4px;
$hours: 24;
$hour-divisions: ($hours * 4);

// breakpoints
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px
);

:root {
  --hours: #{$hours};
  --hour-divisions: #{$hour-divisions};
  --spacer: #{$spacer};
}
