

<div class="ai-face">
  <img src="https://media4.giphy.com/media/UWKiMk1JYDLTOA1YK8/giphy.gif?cid=6c09b952idk23bfztvrqnf73egf4q6olac68imnp7s0fxd9m&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" width="100%" height="100%" alt="AI Face">
</div>
<div class="ai__chatbox">
  <h2>F.R.I.D.A.E</h2>
  <div class="ai__chatbox__message p-5 text-l">
    <% if @response %>
     <%= @response %>
    <% else %>
      <p>Welcome home boss, let me know what I can help you with!</p>
    <% end %>
    </div>
</div>
