<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Fuck you Cody</title>
  <%= javascript_include_tag 'calendar.js' %>

</head>
<body>
  <div class="calendar">
    <ul class="calendar__controls p-0">
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Mon
          </div>
          <div class="text-xl">12</div>
          <div class="text-s">MAY</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Tues
          </div>
          <div class="text-xl">13</div>
          <div class="text-s">MAY</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Wed
          </div>
          <div class="text-xl">14</div>
          <div class="text-s">MAY</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Thur
          </div>
          <div class="text-xl">15</div>
          <div class="text-s">MAR</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Fri
          </div>
          <div class="text-xl">16</div>
          <div class="text-s">MAY</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Sat
          </div>
          <div class="text-xl">17</div>
          <div class="text-s">MAY</div>
        </div>
      </li>
      <li class="calendar__control-container tab-control mx-2 py-2">
        <div class="tab">
          <div class="text-s opacity-50 text-uppercase">
            Sun
          </div>
          <div class="text-xl">18</div>
          <div class="text-s">MAY</div>
        </div>
      </li>

    </ul>

  </div>

    <div class="grid__container">
      <div class="grid__container__columns">
      </div>
      <!-- grid generated dynamically with JavaScript -->
      <div class="grid__container__rows"></div>
    </div>

</body>
</html>
