<h1>Pages#root</h1>
<p>Find me in app/views/pages/root.html.erb</p>

  <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
  <%= link_to 'Logout', '/auth/logout', data: { turbo: false } %>

<%= render "partials/calendar" %>
