<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheets" href="/navbar.scss">
    <script src="/javascript/navbar.js"></script>
  </head>
</html>

  <%= render "partials/navbar"  %>

<div class="dashboard">
    <div class="ai-helper cell">
      <%= render "partials/ai-helper" %>
    </div>
  <div class="schedule cell scroll">
  <p>SCHEDULE</p>
  <%= render "partials/calendar" %>
  </div>
  <div class="ai-chat cell">
    <h2>Talk to Fridae</h2>



    <%= render "partials/ai-chat" %>
   <%# <p>Normalized User Profile:</p> %>
  </div>
</div>
